.cartIcon {
  display: flex;
  /* height:20px;
  width: 20px; */
}
.cartIcon > .cartCount {
  background: blue;
  padding: 10px;
  border-radius: 50%;
  color: white;
  height: 10px;
  width: 10px;
  text-align: center;
  font-size: 10px;
}
.navigation {
  display: flex;
  list-style: none;
  gap: 20px;
}
.productDetails {
  border: 1px solid grey;
  margin: 10px;
}

.addCartButton {
  padding: 10px;
}
.navigation {
  position: sticky;
  top: 10px;
}
